.consultation-item {
    background-color: #e6ffed;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.category {
    font-weight: bold;
    color: #27ae60;
}

.date {
    color: #666;
}

.call-button {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    max-height: 28px;
    padding: 5px 10px 4px;
    cursor: pointer;
}

.call-button p {
    margin-left: 8px;
    justify-self: center;
    margin-top: -3px;
}