.consultation-item {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.category {
    font-weight: bold;
}

.date {
    color: #666;
    font-size: 14px;
    padding-left: 2px;
    padding-top: 4px;
}

.call-button {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 28px;
    cursor: pointer;
    background-color: #dadada;
    margin-right: 8px;
}
.call-button p {
    margin: 0;
    font-size: 15px;
}


.appointment-doctor-wrapper {
    display: flex;
    flex-direction: column;
}